.container{
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
}
.container > div{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    align-self: center;
}

.container > #logo{
    border: 0;
    margin-right: auto;
}